<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body>
<%=error.name + "   (" + error.nameError + ")"%>
<%=error.contact + "   (" + error.contactError + ")"%>         
</body>
</html>